@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 1281px) {
    header .nav-item {
        margin: 0;
    }
    .carousel .carousel-caption h5 {
        font-size: 50px;
        line-height: 65px;
    }
    .carousel .carousel-caption p {
        font-size: 40px;
        line-height: 55px;
    }
    section.box-installa p {
        width: 80%;
        line-height: 25px;
        padding: 8px 15px;
    }
    section.box-plus .box {
        padding-left: 0.6em !important;
        padding-right: 0.6rem !important;
    }
    section.box-plus .box h3 {
        font-size: 21px;
    }
    section.box-plus .box p {
        font-size: 15px;
        line-height: 26px;
    }
    section.box-partner p {
        font-size: 15px;
        line-height: 65px;
    }
    .hd-internal h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1440px) {
    header img {
        width: 100%;
    }
    .carousel .carousel-caption {
        top: 9%;
    }
}

@media only screen and (max-width : 991px) {}

@media only screen and (width: 1024px) and (orientation: landscape) {
    header .d-none.d-md-block.col-md-1.text-right {
        display: none;
    }
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 5px;
        font-size: 13px;
    }
}

@media only screen and (width: 768px) and (orientation: portrait) {}

@media only screen and (max-width: 1112px) {
    header .nav-link {
        font-size: 15px;
    }
}

@media only screen and (max-width : 767px) {}

/* IPHONE 8 PLUS */
@media only screen and (max-width : 414px) {
    h2 {
        margin-left: 50px;
    }
    h2:before {
        left: -50px;
    }

    .cnt-comescegliere h1 {
        margin-left: 50px;
    }
    .cnt-comescegliere h1:before {
        left: -50px;
    }


    a.btn.btn-danger {
        font-size: 15px;
        line-height: 22px;
        padding: 8px 20px !important;
        margin-top: 10px !important;
    }
    .carousel .carousel-caption {
        top: 10%;
        left: 3%;
    }
    .carousel .carousel-caption h5 {
        font-size: 18px;
        line-height: 28px;
        color: #00497C;
    }
    .carousel .carousel-caption h1 {
        font-size: 18px;
        line-height: 28px;
        color: #00497C;
    }
    .carousel .carousel-caption p {
        font-size: 20px;
        line-height: 28px;
        margin-top: 0;
    }
    header.mt-5 {
        margin-top: 20px !important;
    }
    nav.navbar {
        position: relative;
    }
    .navbar-brand {
        width: 100%;
        margin: 0;
    }
    .navbar-brand img {
        margin: 0 auto;
        display: block;
        max-width: 55%;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,73,124,1);
        border-color: rgba(0,73,124,1);
        float: none;
        display: block;
        margin: 0 auto 0;
        padding: .25rem .75rem;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,73,124,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    nav.navbar-light .navbar-nav {
        padding: 5% 0;
    }
    nav.navbar-light .navbar-nav .nav-link {
        text-align: center;
        padding: 5px 0;
    }
    .navbar-collapse {
        background: rgb(0, 73, 124);
        margin-top: 15px;
    }
    header .navbar-light .navbar-nav .nav-link,
    header .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }
    header .nav-link {
        font-size: 18px;
    }
    section.box-funziona h2 {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    section.box-funziona p,
    section.box-form p,
    section.box-componenti h4 {
        font-size: 18px;
        line-height: 28px;
        margin-left: 0;
    }
    section.box-funziona img,
    section.box-funziona a img {
        margin-top: 20px;
    }
    section.box-funziona .row.ml-5.pl-1 {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    section.box-installa {
        padding: 30px 0;
    }
    section.box-installa div span {
        font-size: 25px;
        line-height: 70px;
        width: 70px;
        height: 70px;
    }
    section.box-installa p {
        font-size: 13px;
        line-height: 20px;
        height: 70px;
        margin-left: 10px;
        max-width: 79%;
        padding: 5px 10px;
    }
    section.box-installa div.box {
        width: 100%;
    }
    section.box-installa p {
        max-width: 73%;
        height: 90px;
    }
    section.box-plus {
        padding-top: 0 !important;
    }
    section.box-plus .box {
        min-height: 0;
        padding: 20px !important;
    }
    .box-img img {
        max-width: 80%;
    }
    section.box-componenti .list-componenti .box {
        height: 330px;
        min-height: 0;
    }
    section.box-componenti .list-componenti .box p {
        bottom: 15px;
        left: 20px;
    }
    section.box-componenti .list-componenti .box i {
        font-size: 35px;
        line-height: 40px;
        top: 60%;
        left: 20px;
    }
    section.box-componenti .list-componenti .box {
            background-size: 80%;
    }
    section.box-partner img {
        margin-top: 20px;
    }
    section.box-partner p {
        line-height: 35px;
    }
    footer.py-5 {
        padding: 20px 0 !important;
    }
    footer p {
        font-size: 16px;
        line-height: 26px;
    }
    .hd-internal {
        background: url(../images/header-internal.jpg) no-repeat 35% 50%;
        background-size: cover;
        padding: 15px 0 !important
    }
    .hd-internal h1 {
        padding-bottom: 0 !important;
        margin-top: 10px;
    }
    section.cnt-prodotto {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
    }
    section.cnt-prodotto h3 {
        line-height: 40px;
    }
    section.cnt-prodotto .box-brochure {
        padding-right: 15px !important;
        margin-top: 0 !important;
    }
    section.cnt-prodotto .box-brochure h4 {
        margin-left: 20px;
        font-size: 22px;
        line-height: 32px;
    }
    section.cnt-prodotto .box-brochure h4::before {
        left: -50px;
        top: 10px;
    }
    section.box-partner ul {
        padding: 0;
        margin: 0;
    }
    section.box-partner ul li {
        width: 50%;
    }
    section.cnt-comescegliere h3:before {
        display: none;
    }
}

/* 13" Screen */
@media (min-width: 768px) and (max-width: 1430px) {}