@charset "UTF-8";
/* CSS Document */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B9B9B9 !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #B9B9B9 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #B9B9B9 !important;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #00497C;
    position: relative;
    margin-left: 70px;
}

h2:before {
    content: url(../images/arrow-right.png);
    position: absolute;
    width: 30px;
    height: 50px;
    left: -70px;
}

a.btn.btn-danger {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background: #E7600D;
    border-radius: 30px;
    border: 0;
    z-index: 99999 !important;
}

a.btn.btn-danger:hover {
    background: #00497C;
}

/* HEADER */
header p {
    font-size: 14px;
}

header .nav-link {
    /*font-size: 19px;*/
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 7px;
    margin: 0;
}

header .navbar-light .navbar-nav .nav-link {
    color: #07497C;
    /*border-bottom: 5px solid transparent;*/
    border: 2px solid transparent;
}

header .navbar-light .navbar-nav .nav-link:hover {
    color: #E04700;
    /*border-bottom: 5px solid #E04700;*/
    border: 2px solid #E4EAF1;
}

header .nav-item {
    margin: 0 5px;
}

/* Carousel */
.carousel .carousel-caption {
    position: absolute;
    right: 0;
    top: 30%;
    left: 0%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: left;
}

.carousel .carousel-caption h5 {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    color: #00497C;
}

.carousel .carousel-caption p {
    font-size: 45px;
    line-height: 60px;
    font-weight: 400;
    color: #00497C;
    margin-top: 25px;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
    z-index: 99999;
}

/* Come funziona */
section.box-funziona p {
    font-size: 20px;
    line-height: 40px;
    color: #000;
    margin-left: 70px;
}

section.box-funziona img.button {
    float: right;
}

/* Barriera */
section.box-barriera {
    background: #185A8D;
}

section.box-barriera h3 {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

section.box-barriera h3 a {
    display: block;
    color: #fff;
    text-decoration: none;
}

section.box-barriera h3 span {
    display: block;
    font-weight: 700;
}

/* Come si installa */
section.box-installa {
    padding: 80px 0;
    background: #E7EEF5;
}

section.box-installa p {
    font-size: 18px;
    line-height: 30px;
    color: #363636;
    height: 90px;
    background: #fff;
    margin-left: 15px;
    border: 2px solid #ccc;
    float: left;
    width: 84%;
    padding: 10px 15px;
}

section.box-installa div.box {
    width: 49%;
}

section.box-installa div.box:nth-child(odd) {
    float: left;
}

section.box-installa div.box:nth-child(even) {
    float: right;
}

section.box-installa div.box span {
    font-size: 40px;
    line-height: 90px;
    font-weight: 700;
    color: #fff;
    background: #07497C;
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    text-align: center;
}

/* Come scegliere */
section.cnt-comescegliere {
    background: #F2F2F2;
    padding-bottom: 50px;
}

section.cnt-comescegliere h3 {
    font-size: 30px;
    font-weight: 700;
    color: #E7601D;
    text-transform: uppercase;
    position: relative;
}

section.cnt-comescegliere h3:before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    background: #07497C;
    top: 100%;
    min-height: 250px;
}

section.cnt-comescegliere h3.no-line:before {
    width: 0;
    min-height: 0px;
}

section.cnt-comescegliere h4 {
    font-size: 25px;
    font-weight: 700;
    color: #E7601D;
    text-transform: uppercase;
    text-align: center;
}

/* Plus */
section.box-plus .box {
    background: #E7600D;
    min-height: 280px;
}
section.box-plus .box.second {
    background: rgba(231,96,13,.9);
}

section.box-plus .box.third {
    background: rgba(231,96,13,.8);
}

section.box-plus .box.fourth {
    background: rgba(231,96,13,.7);
}

section.box-plus .box h3 {
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

section.box-plus .box p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

/* Componenti */
section.box-componenti {
    padding: 80px 0;
    background: #FAF8F8;
}

/*section.box-componenti h2 {
    margin-left: 0;
}

section.box-componenti h2:before {
    content: "";
}*/

section.box-componenti h4 {
    font-size: 20px;
    line-height: 40px;
    color: #363636;
}

section.box-componenti .list-componenti {
    margin-top: 40px;
}

section.box-componenti .list-componenti .box {
    background: url(../images/mask-componenti.png) no-repeat top right #fff;
    border: 2px solid #ccc;
    position: relative;
    min-height: 360px;
}

section.box-componenti .list-componenti p {
    font-size: 25px;
    line-height: 32px;
    color: #E7600D;
    font-weight: 700;
    /* position: absolute; */
    /* bottom: 60px; */
    /* left: 50px; */
    max-width: 320px;
    margin-top: 20px;
    margin-left: 20px;
}

section.box-componenti .list-componenti p a {
    color: #E7600D;
    text-decoration: none;
}

section.box-componenti .list-componenti .box i {
    font-size: 35px;
    line-height: 38px;
    color: #E7600D;
    position: absolute;
    bottom: 15%;
    left: 50px;
}

section.box-componenti .list-componenti .box {
    display: table;
    height: 360px;
    width: 100%;
    margin-top: 30px;
}

section.box-componenti .list-componenti .box .box-img {
    display: table-cell;
    vertical-align: middle;
}

section.box-componenti .list-componenti .box .box-img img {
    max-width: 335px;
    max-height: 360px;
}

/* Form contatti */
section.box-form {
    background: #E7EEF5;
}

section.box-form p {
    font-size: 20px;
    line-height: 40px;
    color: #000;
    margin-left: 70px;
}

section.box-form input.form-control,
section.box-form select.form-control,
section.box-form textarea.form-control {
    border: 1px solid #B9B9B9;
    color: #B9B9B9;
    border-radius: 0;
    min-height: 60px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

section.box-form textarea.form-control {
    min-height: 80px;
    resize: none;
}

section.box-form .form-group.form-check.type-check.checkbox {
    color: #000;
    margin-top: 10px;
}
section.box-form .form-group.form-check.type-check.checkbox a {
    color: #000;
    text-decoration: none;
}

/* Box Partner */
section.box-partner p {
    font-size: 18px;
    line-height: 85px;
    color: #363636;
}

section.box-partner img {
    border: 2px solid #E4EAF1;
    max-width: 90%;
}

section.box-partner ul {
    list-style: none;
}

section.box-partner ul li {
    margin: 0;
    padding: 0;
    width: 20%;
}

/* Footer */
footer {
    background: #185A8D;
}

footer p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}

footer ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #6fb8ef;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/* Header internal */
.hd-internal {
    background: url(../images/header-internal.jpg) no-repeat center;
    background-size: cover;
}

.hd-internal h1 {
    font-size: 30px;
    color: #00497C;
    margin-top: 20px;
    font-weight: 700;
}

.hd-internal .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background: none;
    border-radius: 0;
    font-size: 14px;
    color: #00497C;
    font-weight: 300;
}

.hd-internal .breadcrumb-item + .breadcrumb-item::before,
.hd-internal .breadcrumb-item.active,
.hd-internal .breadcrumb-item a {
    color: #00497C;
}

/* Pagina prodotto */
section.cnt-prodotto .carousel {
    border: 2px solid #E4EAF1;
}

section.cnt-prodotto h3 {
    font-size: 30px;
    line-height: 60px;
    color: #E7600D;
    font-weight: 700;
}

section.cnt-prodotto h4 {
    font-size: 22px;
    line-height: 30px;
    color: #185A8D;
    font-weight: 300;
}

section.cnt-prodotto p {
    font-size: 20px;
    line-height: 30px;
    color: #363636;
    margin-top: 20px;
}

section.cnt-prodotto .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

section.cnt-prodotto .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

section.cnt-prodotto .box-brochure {
    background: #E7EEF5;
}

section.cnt-prodotto .box-brochure h4 {
    color: #00497C;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    margin-left: 70px;
    font-weight: 300;
}

section.cnt-prodotto .box-brochure h4 strong {
    font-weight: 700;
}

section.cnt-prodotto .box-brochure h4:before {
    content: url(../images/arrow-right.png);
    position: absolute;
    width: 30px;
    height: 50px;
    left: -70px;
    top: 15px;
}

/* modal */
.modal {
    z-index: 99999 !important;
}
.modal h5.modal-title {
    font-size: 20px;
    color: #00497C;
    font-weight: 700;
}
.modal input.form-control,
.modal select.form-control,
.modal textarea.form-control {
    border: 1px solid #B9B9B9;
    color: #B9B9B9;
    border-radius: 0;
    min-height: 30px;
    font-size: 16px;
    margin-top: 10px;
}
.modal .form-group.form-check.type-check.checkbox {
    color: #000;
    margin-top: 10px;
    font-size: 12px;
}
.modal .form-group.form-check.type-check.checkbox a {
    color: #000;
    text-decoration: none;
}

/* Return to Top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 17px;
    top: 12px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.carousel .carousel-caption h1 {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    color: #00497C;
}

.cnt-comescegliere h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #00497C;
    position: relative;
    margin-left: 70px;
}

.cnt-comescegliere h1:before {
    content: url(../images/arrow-right.png);
    position: absolute;
    width: 30px;
    height: 50px;
    left: -70px;
}