#cookieChoiceDismiss,
#cookieChoiceInfo{
	font-size: 13px;
}
a#cookieChoiceDismiss,
#cookieChoiceInfo a{
	color: #fff !important;
	text-decoration: underline;
}
a#cookieChoiceDismiss:hover,
#cookieChoiceInfo a:hover{
	color: #f1f1f1 !important;
	text-decoration: underline;
}