<table style="width:100%;border-collapse:collapse">
        <tbody>
            <tr>
                <td style="background:#f5f5f5;padding:10px 10px 0;font:14px/1.4285714 Arial,sans-serif">
                <table style="width:100%;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td style=
                                "font:14px/1.4285714 Arial,sans-serif;padding:0;background-color:#ffffff;border-radius:5px">
                                <div style=
                                "border:1px solid #cccccc;border-radius:5px;padding:20px">
                                    <table style=
                                    "width:100%;border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style=
                                                    "font:14px/1.4285714 Arial,sans-serif;padding:0">
                                                    <table style=
                                                    "width:100%;border-collapse:collapse">
                                                        <tbody>
                                                                <tr>
                                                                  
                                                                    <td style=
                                                                    "font:14px/1.4285714 Arial,sans-serif;padding:0 0 0 10px">
                                                                    <table style="width:100%;border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font:14px/1.4285714 Arial,sans-serif;padding:0;line-height:1">
                                                                                    <span>
                                                                                    Ciao 

                                                                                    <strong>
                                                                                    	
                                                                                    	##NAME##

                                                                                    </strong>,
                                                                                    
                                                                                    <br/>
                                                                                    <br/>

                                                                                    il tuo ordine è stato creato con successo

                                                                                    </span>


                                                                                    <table>
                                                                                        <thead>

                                                                                            <tr>
                                                                                            
                                                                                                <th></th>
                                                                                                <th>Prodotto</th>
                                                                                                <th>Quantità</th>
                                                                                                <th>Prezzo unitario</th>

                                                                                            </tr>

                                                                                        </thead>
                                                                                        <tbody>

                                                                                            <tr>

                                                                                                <td></td>
                                                                                                <td>Alliene</td>
                                                                                                <td>2</td>
                                                                                                <td>&euro;10,00</td>

                                                                                            </tr>

                                                                                            <tr>

                                                                                                <td></td>
                                                                                                <td>Alliene</td>
                                                                                                <td>2</td>
                                                                                                <td>&euro;10,00</td>

                                                                                            </tr>
                                                                                            
                                                                                        </tbody>

                                                                                    <table>


                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                               
                                                                                </tr>

                                                                                <tr>
                                                                                <td style="font:14px/1.4285714 Arial,sans-serif;padding:10px 0 0">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2" style=
                                                    "font:14px/1.4285714 Arial,sans-serif;padding:10px 0 0;border-top:1px solid #cccccc;line-height:1">
                                                    <a href="https://bitbucket.org/madeupteam"
                                                        style=
                                                        "color:#3572b0;text-decoration:none"
                                                        target="_blank">Vai al sito</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding:20px 0;color:#707070">
                                    <table style=
                                    "width:100%;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                

                                                <td style="padding:0">

                                                <img class="CToWUd" height="1" src="https://ci4.googleusercontent.com/proxy/9Tl1tXJbZkhy0__epgRMC3vqPfF0cW2tT4LTKzegK34PAiZQFc6q8hjI5nWV43Rpz4lMak07k0h8ROVquhX24Apl6oXWCqlirpBr0eVD8Xl9ijEi2hRKou9TPtRRpn53NHNBnO8P9RCDS_0rFogBBp_8Cy2Zwdd3noAnZ1RTQ=s0-d-e1-ft#https://bitbucket.org/account/notifications/mark-read/151154906/87b65fe967b02dec8fcb6a6584c99fbb7af28edf/"
                                                width="1"></td>

                                                <td style=
                                                "text-align:right;width:100px;padding:0">
                                                <a href="https://bitbucket.org"
                                                    style=
                                                    "color:#3572b0;text-decoration:none"
                                                    target="_blank"><img alt=
                                                    "Bitbucket" class="CToWUd"
                                                    height="18" src=
                                                    "https://ci3.googleusercontent.com/proxy/Wv-8mI8K7Hpql0IWo-UyLmIUUlB87TR-RrZskJ7DDiOEEAMoq0HyfqsqpBwdEWO0d99a9e4ly34LgXmxSc7tAegJ1-qQLUnqDJzYg87NIVtiqKaTApfPkbaTnbMu=s0-d-e1-ft#https://d3oaxc4q5k2d6q.cloudfront.net/m/9c586b5d8b1e/img/email/logo.gif"
                                                    width="100"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>